<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Vue.js TodoList | PNC</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="app">
      <div class="container">
        <h3>Create a todo item</h3>
        <form @submit="createTodo" class="form" action="#">
          <div class="row">
            <div class="col-4">
              <input
                required
                v-model="newTitle"
                type="text"
                class="form-control"
                placeholder="Title"
              />
            </div>
            <div class="col-4">
              <input
                required
                v-model="newContent"
                type="text"
                class="form-control"
                id="todo-content"
                placeholder="Content"
              />
            </div>
            <div class="col-2">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </div>
        </form>
        <div class="row mt-3">
          <div class="d-flex flex-wrap">
            <h3>
              My todo list
              <select v-model="filterImportant" class="form-select">
                <option value="all" selected>Show all</option>
                <option value="important-only">Show only important</option>
                <option value="not-important">Show only not important</option>
              </select>
            </h3>
          </div>
          <div class="d-flex flex-wrap">
            <div
              v-for="(todo, index) in filteredTodos"
              :class="todo.important ? 'bg-warning' : 'bg-light'"
              class="card m-1"
              style="width: 18rem"
            >
              <div class="card-body">
                <h5 class="card-title">{{ todo.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ todo.content }}
                </h6>
                <button class="btn btn-danger" @click="deleteTodo(index)">
                  Delete
                </button>
                <button
                  v-if="!todo.important"
                  class="btn btn-warning"
                  @click="markImportant(todo, index, true)"
                >
                  Mark Important
                </button>
                <button
                  v-else
                  class="btn btn-light"
                  @click="markImportant(todo, index, false)"
                >
                  Mark not important
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of .container -->
    </div>
    <!-- end of #app -->
  </body>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
  <script src="index.js"></script>
</html>
